<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!--esta línea evita que el favicon se cargue al dejar la ubicacion vacía-->
    <link rel="icon" href="data:,">
    <title>Formulario</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <h2>Formulario</h2>
    <h3 class="correcto" th:text="${mensajeOK}"></h3>
    <h3 class="error" th:text="${mensajeNOK}"></h3>
    <form action="/formulario/recibe-parametros-validado" method="post"
            th:object="${datosFormulario}">

        <!--Campo de usuario-->
        <label th:text="#{eco-parametros.usuario}" for="usuario"></label><br>
        <input type="text" th:field="*{usuario}">
        <div th:each="err: ${#fields.errors('usuario')}"
            th:text="${err}" class="error"></div>
        <br><br>

        <!--Campo de clave-->
        <label th:text="#{eco-parametros.clave}" for="clave"></label><br>
        <input type="password" th:field="*{clave}">
        <div th:each="err: ${#fields.errors('clave')}"
             th:text="${err}" class="error"></div>
        <br><br>

        <!--Campo fecha nacimiento-->
        <label th:text="#{eco-parametros.fecha_nac}" for="fecha_nac"></label><br>
        <input type="text" th:field="*{fechaNacimiento}">
        <div th:each="err: ${#fields.errors('fechaNacimiento')}"
             th:text="${err}" class="error"></div>
        <br><br>

        <!--Campo edad-->
        <label th:text="#{eco-parametros.edad}" for="edad"></label><br>
        <input type="number" th:field="*{edad}">
        <div th:each="err: ${#fields.errors('edad')}"
             th:text="${err}" class="error"></div>
        <br><br>

        <!--Campo peso-->
        <label th:text="#{eco-parametros.peso}" for="peso"></label><br>
        <input type="number" th:field="*{peso}">
        <div th:each="err: ${#fields.errors('peso')}"
             th:text="${err}" class="error"></div>
        <br><br>

        <!--Campo de género-->
        <label th:text="#{eco-parametros.genero}"></label><br>
        <label>
            <input th:each="genero: ${genero_HashMap}"
                   th:value="${genero.key}" th:text="${genero.value}"
                   th:checked="${genero.key == genero_seleccionado}"
                   type="radio" name="generoSeleccionado">
        </label>
        <br><br>

        <!--Campo de envío-->
        <input type="submit" th:value="#{eco-parametros.enviar}">

        <!--Campo de reseteo-->
        <input type="reset" th:value="#{eco-parametros.resetear}">
        <br><br>

    </form>
</body>
</html>
