<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!--esta línea evita que el favicon se cargue al dejar la ubicacion vacía-->
    <link rel="icon" href="data:,">
    <title>Formulario</title>

</head>
<body>
    <form action="/formulario/recibe-parametros-validado" method="post">

        <!--Campo de usuario-->
        <label th:text="#{eco-parametros.usuario}" for="usuario"></label><br>
        <input type="text" th:value="${usuario}" name="usuario" id="usuario">
        <br><br>

        <!--Campo de clave-->
        <label th:text="#{eco-parametros.clave}" for="clave"></label><br>
        <input type="password" th:value="${clave}" name="clave" id="clave">
        <br><br>

        <!--Campo fecha nacimiento-->
        <label th:text="#{eco-parametros.fecha_nac}" for="fecha_nac"></label><br>
        <input type="text" th:value="${fechaNacimiento}" name="fecha_nac" id="fecha_nac">
        <br><br>

        <!--Campo edad-->
        <label th:text="#{eco-parametros.edad}" for="edad"></label><br>
        <input type="number" th:value="${edad}" name="edad" id="edad">
        <br><br>

        <!--Campo peso-->
        <label th:text="#{eco-parametros.peso}" for="peso"></label><br>
        <input type="number" th:value="${peso}" name="peso" id="peso">
        <br><br>

        <!--Campo de género-->
        <label th:text="#{eco-parametros.genero}"></label><br>
        <label>
            <input th:each="genero: ${genero_HashMap}"
                   th:value="${genero.key}" th:text="${genero.value}"
                   th:checked="${genero.key == genero_seleccionado}"
                   type="radio" name="generoSeleccionado">
        </label>
        <br><br>

        <!--Campo de envío-->
        <input type="submit" th:value="#{eco-parametros.enviar}">

        <!--Campo de reseteo-->
        <input type="reset" th:value="#{eco-parametros.resetear}">
        <br><br>

    </form>
</body>
</html>
